<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <main>
        <input type="number" value=0>
        <div class="keys">
        <button class='num__key'>1</button>
        <button class='num__key'>2</button>
        <button class='num__key'>3</button>
        <button class='op__key' op='clear'>C</button>
        <button class='op__key' op='backspace'><-</button>
        <button class='eq__key'>=</button>
        <button class='num__key'>4</button>
        <button class='num__key'>5</button>
        <button class='num__key'>6</button>
        <button class='op__key' op='subtract'>-</button>
        <button class='op__key' op='percentage'>%</button>
        <button class='op__key' op='cosine'>cos</button>
        <button class='num__key'>7</button>
        <button class='num__key'>8</button>
        <button class='num__key'>9</button>
        <button class='op__key' op='multiply'>*</button>
        <button class='op__key' op='factorial'>n!</button>
        <button class='op__key' op='sine'>sin</button>
        <button class='num__key'>.</button>
        <button class='num__key'>Pi</button>
        <button class='op__key' op='power'>^</button>
        <button class='op__key' op='open_bracket'>(</button>
        <button class='op__key' op='close_bracket'>)</button>
        <button class='op__key' op='log'>log</button>
        <button class='op__key' op='square_root'>sqrt</button>
        <button class='num__key'>ln2</button>
        <button class='num__key'>ln10</button>
        <button class='num__key'>l2e</button>
        <button class='num__key'>l10e</button>
        <button class='op__key' op='exp'>exp</button>

        </div>
    </main>
</body>
</html>